#nop Boomers
#gag {Desert Boomer throws an inferno grenade at your feet.  *KABOOM*}
#gag {Desert Boomer blows your head off with his cannon!}
#gag {The Boomer Child pokes you with her stick!.  *BZZZZZTTTT*}
#gag {The child blows a bubble, and your ears nearly burst from the explosion!}
#gag {The Boomer gives you a spinning kick upside the jaw.}
#gag {The Arctic Boomer adjusts her freeze cannon to maximum and fires!}
#gag {The Arctic Boomer hits you five times before you can even blink!}
#gag {Army Boomer knocks your lights out.}
#gag {Boomer pulls a gun and blows your head off.}
#gag {Army Boomer does a spinning back kick upside your jaw!}
#gag {Out of nowhere, the Boomer connects with a boot to your chin!}
#gag {The Boomer cackles as she touches you with the prod and pulls the trigger!}
#gag {Military Boomer fires a rocket into your chest!}
#gag {The Boomer crushes your skull with a haymaker punch.}
#gag {Boomer child laughs as she stuns a nearby citizen.}
#gag {The Boomer child skips towards you.}
#gag {Boomer says: See my stick, isn't it nice.}
#gag {Boomer says: Come play with me!}
#gag {The Boomer smiles in pleasure as another victim is about to die!}
#gag {Boomer says: Resistance is futile!}
#gag {The boomer throws a grenade!  *KABOOM*}
#gag {A bitter cold gust of wind freezes you to the bone.}
#gag {Scientist says: Someone get security in here.}
#gag {Desert Boomer says: There is no escape.  You will die!}
#gag {The Arctic Boomer moves with amazing speed through the blizzard.}
#gag {Military Boomer screams like a wildman and presses the attack.}
#gag {The collar on the Military Boomer glows slightly.}
#gag {Scientist says: Why can't I get the atomic deflector to work?}
#gag {Scientist says: Initiating test in lab %0.}
#gag {The scientist rolls across the floor to another control station.}
#gag {The scientist pulls his hair in frustration.}
#gag {Scientist screams: It's working, it's working!}
#gag {Boomer announces: Initiating attack mode.}
#gag {The scientist pushes several buttons on the control panel.}
#gag {Scientist says: Explosion in lab %0, get the fire crew down here.}
#gag {The scientist studies something on the monitor.}
#gag {Scientist says: I don't have time for this!}
#gag {Red lasers shoot from the Boomer's eyes and strike you.}
#gag {The Boomer grabs piece of chair and smashes it over your head.}
#gag {Electrical sparks fly out of the Boomer's joints, shocking you.}
#gag {Desert Boomer fires his cannon at you.}
#gag {The Boomer blows your head off.}
#gag {Boomer announces: Warning:  Radiation leak imminent.}
#gag {Noxious gas spills from the boomer's mouth causing you to gag.}
#gag {Assassin Boomer moves with blazing speed, dodging all your blows.}
#gag {The Boomer's baton backfires, and electricity surrounds her.}
#gag {Assassin Boomer moves with blazing speed, dodging all your blows.}

