#gag {You swear as Azrael anticipates you and dodges.}
#gag {Azrael launches a micromissile directly at you!}
#gag {Your blow seems to bounce off Azrael's armoured body.}
#gag {Azrael attacks with grace and power.}

