#gag {The baby chinchilla whines when you hurt it.}
#gag {The baby chinchilla frolicks in the sand.}
#gag {The baby chinchilla opens its cute little maw and sprays a wreath}
#gag {The baby chinchilla paws at your legs.}
#gag {The young chinchilla bats you with its paws.}
#gag {The young chinchilla shies away from you.}
#gag {The old chinchilla scratches you lightly.}
#gag {The old chinchilla heaves a big sigh.}

