#gag {^Hell Cow Herd{.|!}$}
#gag {^Nightmare Cow Herd{.|!}$}
#gag {^Small Nightmare Cow{.|!}$}
#gag {^Sizeable Hell Cow Herd{.|!}$}
#gag {^Cow{.|!}$}
#gag {^Nightmare Cow{.|!}$}
#gag {^Lonesome Nightmare Cow{.|!}$}
#gag {^Cow Herd{.|!}$}
#gag {^Herd{.|!}$}
#gag {A cow falls, but the herd continues on!}

