#gag {Patroller says in a metallic voice: You are not allowed here! You must}
#gag {Strike guard says: Not many people get by us.                              }
#gag {Strike guard places her hands together and concentrates. You see a bright}
#gag { flash and the air explodes as a beam of pure energy rips through the space}
#gag { between you and destroys your body!}
#gag {Strike guard stares deeply into your eyes. You are mesmorized for a split}
#gag { second as she smiles evilly. You fall to your knees and scream in agony as}
#gag { your mind is shredded by a fierce mental assault!}
#gag {Strike guard jumps through the air performing an incredible aerial assault!}
#gag {Strike guard says: Do you think that you can just waltz in here?           }
#gag {Strike guard calls upon her genetically enhanced abilities and freezes}
#gag { the air around her flailing hands. You are pierced by hundreds of}
#gag { tiny ice blades!}
#gag {Strike guard says: I don't even know why GenCorps has the strike team.}
#gag {              We can kick your ass just as well as they can.}
#gag {Strike guard pulls the heat from the surrounding area and funnels it through her}
#gag { hands. A huge fireball collides with you!}
#gag {Strike guard sneers: You're history buddy.                                 }
#gag {Sergeant says: Get them men! The compound must be protected!               }
#gag {Sergeant fires his spaser, releasing an energy round into you!}
#gag {Strike Guard looks at you in disgust and charges forward to attack!}

