#gag {The %0 Rimalkin scratches about the room.}
#gag {The %0 Rimalkin lunges at you with its needle-like fangs!}
#gag {The %0 Rimalkin slashes at you with its razor sharp claws!}
#gag {The %0 Rimalkin looks at you with little red eyes, scratching the ground}
#gag {^nervously.$}
#gag {^Rimalkin.$}





