#gag {The Summoner opens a portal to the plane of negative energy and sucks your life force.}
#gag {Summoner says: I have the knowledge of many planes at my disposal.}
#gag {Summoner says: Don't EVEN think about it.}
#gag {^Summoner!$}
#gag {The Summoner opens a portal to the elemental plane of %0 and an elemental pops out.}
#gag {The Summoner opens a portal to the plane of fire and hell flames roast you.}

