#gag {Xill Warrior thrashes out violently!                                       }
#gag {Xill Warrior stabs out viciously with his dagger!                          }
#gag {Xill Warrior jabs forcefully with his spikes!                              }

