#nop mskill combat.proficiency.attack speed
#gag {Your great speed allows you to attack again!}

#nop Litany battle-spam.
#gag {^[Luminous]}
#gag {^[Lucid]}
#gag {^[Sharp]}

#gag {You drive your attack past %0 resistances!}

