#gag {%0 keys in a complex set of commands into}
#gag {%0 lower arm casing. A moment passes and then}
#gag {%0 is suddenly overcome by a strange loss of power.}
#gag {%0 is enclosed within a blue-green energy field.}
#gag {The ionbeam {irradiates|irradicates|nukes|firestorms|roasts|blasts|chars|sears|singes|scorches|bombards|superheats|cooks|scalds|torches|burns|fries|blisters|warms|illuminates} %0!}
#gag {%0 synthorg sonic emitters send {sonar pings|a painful chirping|a high pitched whine|subtle vibrations|a subtle resonance|a low humming|a low frequency air-borne wave} at{| %1}}
#gag {^Ochre Jelly.$}
#gag {%0 focuses {flickers of fire|re-energized electromagnetics|antimatter|burning gasses|hellfire|disintegratory waves|a nuclear blast|little fires|tongues of flame|a blazing inferno|a bonfire|scorching fires|huge flames|polarized light waves|superheated air|elemental furies|demolecularized beams|isotropic emissions|excited positrons|power synthesis|orthogonal displacements|free radicals|warm air currents|ionized air currents|a power flux|an up quark stream|energy nodules|irradiatory flows|flickering pyrotechnics|tiny flames|heated air|inversion fields|burning streamers|burning death} at %1}
#gag {%0 is suddenly surrounded by a bright white shock of power,}
#gag {which quickly fades.}
#gag {%0 shocker throws sparks at %1.}
#gag {{A photoscopic pulse|Flickering light|Focused light} blasts %0.}
#gag {%0 reclaims the DNA of the corpse for later study.}
#gag {Your synthorg activated sonicator attack proves ineffective.}
#gag {A powerful ray blasts %0.}
#gag {Your Lower Arm Casing clicks as its power meter begins to glow.}
#gag {Saving guild status, Ramen.}
#gag {%0 has %1 of its hps left.}
#gag {Metal casing covering %0 vanishes from sight!}
#gag {Metallic plates and protrusions grow all over %0.}
#gag {%0 switches targets!}
#gag {TAL says:  Welcome to the main computer node %0.}
#gag {TAL stands quietly and clasps his hands in front of him.}
#gag {TAL smiles.}
#gag {TAL watches you go about your business.}
#gag {The image of TAL wavers a bit in the light.}
#gag {\[> Meditation Field Activated. <\]}
#gag {\[---- Enhanced DNA has reverted to substandard levels. ----\]}
#gag {You feel your cellular DNA structures modify to absorb damage.}
#gag {An adrenaline surge flows through you.}

