#alias {gwho} {fremen}
#alias {ce} {tp}
#alias {rcost} {check cost}
#alias {adv} {advance}
#alias {info} {fhelp}

#alias {c1} {#read fremen/corpse1.tt}
#alias {c2} {#read fremen/corpse2.tt}

#alias {sus} {suspend}
#alias {med} {suspend}

#alias {bsc} {board spacecraft}
#alias {bo} {board ornithopter}

