#alias {adv} {advance}
#alias {ce} {tp}
#alias {cee} {tpe}
#alias {gwho} {fremen}
#alias {info} {fhelp}
#alias {ps} {gs2}
#alias {rcost} {check cost}

#alias {c1} {#read fremen/corpse1.tt}
#alias {c2} {#read fremen/corpse2.tt}
#alias {dl} {donate literjon}
#alias {fl} {fill literjon}

#alias {ars} {go arsenal;donate all;balance;go exit}
#alias {sus} {suspend}
#alias {med} {suspend}

#alias {bsc} {board;loadmap fremen}
#alias {bo} {#map leave;board}

