#act {A furry spider} {k spider}
#act {An irradiated crocodile} {k crocodile}
#act {An oddly glowing rat} {k rat}
#act {A large black snake} {k snake}
#act {A medium sized glowing rat} {k rat}
#act {A small cockroach} {k cockroach}
#act {Longtooth} {k rat}
